html, body {
  height: 80%;
  width: 100%;
  color: navy;
  background-color: lightblue;
  font-family: Helvetica;
}

nav {
  background-color: white;
  padding-left: 4px;
  border: 2px solid black;
  margin-right: 20px;
  margin-left: 3px;
}

main {
  background-color: red;
  padding-left: 4px;
  border: 2px solid black;
  margin-right: 20px;
  margin-left: 3px;
}

header {
  background-color: #1eff00;
  padding-left: 4px;
  border: 2px solid black;
  margin-right: 20px;
  margin-left: 3px;
}

footer {
  background-color: #e1ff00;
  padding-left: 4px;
  border: 2px solid black;
  margin-right: 20px;
  margin-left: 3px;
}


header {
  background-color: blue;
  color: white;
  border: 2px solid black;
  margin-right: 20px;
  margin-left: 3px;
}

img {
  border: 3px solid white;
  border-radius: 4px;
  padding: 4px;
  width: 50%;
  height: auto;
  border-color: white;
}

.blackborder {
  border: 3px solid black;
  border-radius: 4px;
  padding: 4px;
  width: 50%;
  height: auto;
}

ol {
  background: #000000;
  padding: 20px;
}

ul {
  background: #000000;
  padding: 20px;
}

ol li {
  background: #31dd34;
  color: #036d36;
  padding: 5px;
  margin-left: 35px;
}

ul li {
  background: #007bff;
  color: white;
  margin: 5px;
}

a:link {
  background-color: #ff2e2e;
  color: black;
}


a:visited {
  background-color: #61ff61;
  color: black;
}

a:hover {
  background-color: #41cdfb;
  color: black;
}

a:active {
  background-color: #ffea00;
  color: black;
}

.redtext{
  color: red;
}

.sport {
  font-size: 30px;
  padding-left:53%;
}